<h1>Edit My Cat</h1>
<%= render "shared/errors" %>
<%= render "form", cat: @cat %>
<<<<<<< HEAD
=======

<br>
<% content_for :footer do %>
  <p>This page is for editing <%= @cat.name %>'s Bio</p>
<% end %>
>>>>>>> 6e95415bcccdae912372df90cc2858acd9cd6ba3
